:root{
  --box-shadow:5px 5px 10px 6px rgba(101,175,10,0.5);
  --bg-color:rgb(49, 59, 123);
}



body{
  background-color: rgb(15, 5, 57);
  color: azure;
  margin-left: 15 px;
}

a{
  text-decoration: none;
  color: azure;
} 
/*NavBar Section*/
.nav_bar{
  display: flex;
  /* height: 55px; */
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  /* border: 1px solid green; */
}

.nav_bar .nav_item{
  height: 55px;
  padding: 17px;
  font-size: medium;
  font-weight: bold;
}

.nav_bar .nav_item:hover{
 border-bottom: 2px solid rgb(213, 230, 19);
 
}

/* Home Section*/
.home{
  height: 85vh;
  display:flex;
  justify-content: space-between;
 align-items: center;
 /* background: red; */
}

.home .left{
  background: var(--bg-color);
  height: 140px;
  width: 500px;
  border: 1px solid yellow;
  text-align: center;
  padding: 10px ; 
  margin-left: 100px;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  
}
.home .right .img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  /* background-color: rgb(237, 147, 29); */
}

.home .right .img img{
  height: 270px;
  width: 270px;
  border: 5px solid yellow;
  border-radius: 150px;
  animation-name: imgAnimation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}




@keyframes imgAnimation{
  0%{
    border-color:blue;
    transform: translate(0,0px);
    box-shadow: 10px 10px 100px 50px blue;
  }

  25%{
    border-color:rgb(30, 224, 172);
  
    box-shadow: 10px 10px 100px 50px rgb(205, 213, 83);
  }

  50%{
    border-color:rgb(12,12,199);
    transform:translate(0,10px);
    box-shadow: 10px 10px 100px 50px rgb(12,12,199);
  }

  75%{
    border-color:hsl(141, 84%, 43%);
    
    box-shadow: 10px 10px 100px 50px rgb(84, 192, 122);
  }

  100%{
    border-color:rgb(50,55,205);
    transform:translate(0,-0px);
    box-shadow: 10px 10px 100px 50px rgb(50,55,205);
  }
}


/*Intership Section*/


 .heading0{
  margin: 20px 20px;
  height:55px;
  width:310px;
  /* border:1px solid green; */
  text-align: left;
 padding-left: 20px;
 padding-top: 10px;
}
.heading0:hover{
  border-bottom: 3px solid rgb(213, 230, 19);
}
.App{
  /* background-color:red; */
  width: 1320px;
  justify-content: center;
  margin-left: 100px;
  margin-bottom: 15px;
}

.container1{
  /* background: red; */
  padding-top: 10px;
  height: 600px;
  width: 800px;
  margin-left:300px;
  /* border: 1px solid green; */
}
.experience-item{
   background: var(--bg-color);
   border: 2px solid yellow;
  text-align: center;
  padding: 20px 0px 10px 0px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  margin: 60px;
}


/* SKills Section*/

h4.topic{
  align-items: center;
  margin-top: 35px;
  margin-left: 20px;
  height:40px;
  width:80px;
  /* border:1px solid green; */
  text-align: center;
}

h4.topic:hover{
  border-bottom: 3px solid rgb(213, 230, 19);
  
}
.skills {
  /* background: red; */
  padding: 10px;
}

.skills .items{
  width: 800px;
  display: flex;
  justify-content:center; 
  align-items: center;
  flex-wrap: wrap;
  margin-left: 22%;
  /* background: red; */
}

.skills .items .item {
width: calc(22.22%);
background: black;
margin:30px;
text-align: center;
padding: 25px;
border-radius: 10px;
border: 1px solid yellow;
box-shadow: var(--box-shadow);
}

.skills .items .item img{
  width: 70px;}


  /*PROJECT SECTION*/
  .projects{
    /* background: red; */
    height: 695px;
  }


 .headingSec{
  /* border: 1px solid green; */
  width:130px;
  height: 90px;
  text-align: center;
  padding-top: 50px;
}
h4.headingSec:hover{
  border-bottom: 3px solid rgb(213, 230, 19);
  
}


/*CERTIFICATE/AWARDS SECTION*/
.certificate{
  /* background-color:red; */
  height: 698px;
}
.headingCert{
  padding: 20px;
  /* border: 1px solid green; */
  height: 60px ;
  width: 242px;
  text-align: center;
}

.headingCert:hover{
  border-bottom: 3px solid rgb(213, 230, 19);
}




  /*CONTACT SECTION*/
.contact-icon{
display: flex;
justify-content: center;
align-items: center;
}

.contact-icon .items{
  background: black;
  margin: 10px;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 2px solid yellow;
}
.contact-icon .items:hover{
background: var(--bg-color);
box-shadow: var(--box-shadow);
}

.contact-icon .items .icons{
  font-size: 2rem;
}
